<!DOCTYPE html>
<html>
    <header>
        <title>Blog App</title>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link type="text/css" rel="stylesheet" href="/stylesheets/app.css">
    </header>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>Blog Site</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item" href="/blogs/new">New Post</a>
            </div>
        </div>